@mixin centerAlign
{
    display: flex;
    justify-content: center;
}
@mixin sbAlign
{
    display: flex;
    justify-content: space-between;
}
@mixin grid($columns, $gap)
{
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    column-gap: $gap;
    row-gap: $gap;
}
@mixin grid_rg($columns, $columnGap, $rowGap)
{
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    column-gap: $columnGap;
    row-gap: $rowGap;
}