*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import "./variables";
@import "./mixins";
@import "./header";
@import "./dashboard";

section
{
    @include centerAlign
}
.section_wrapper
{
    width: 1600px;
}
input, select
{
    border-radius: 12px;
    padding: 6px 24px;
    font-size: 18px;
    outline: none;

}