@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #494949;
}

header {
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 84px;
  -webkit-box-shadow: -3px 0px 5px 4px rgba(0, 0, 0, 0.0666666667);
          box-shadow: -3px 0px 5px 4px rgba(0, 0, 0, 0.0666666667);
  z-index: 100;
}
header .header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header_container .left .logo {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 84px;
  width: 320px;
  text-decoration: none;
  color: #494949;
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
header .header_container .left .logo .box_container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_container .left .logo .box_container img {
  height: 70%;
  width: 70%;
}
header .header_container .right {
  padding-right: 48px;
  padding-left: 18px;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_container .right .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_container .right .user .avatar {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
}
header .header_container .right .user .avatar img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .header_container .right .user .username {
  font-size: 18px;
}

nav {
  background-color: #f8f8fc;
  height: calc(100vh - 84px);
  position: absolute;
  left: 0px;
  top: 84px;
  width: 320px;
}
nav .nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #494949;
  font-weight: 600;
  height: 100%;
  width: 100%;
  padding: 6px 16px 6px 0px;
  border-left: 12px solid transparent;
}
nav .nav li a * {
  font-size: 20px;
}
nav .nav li a:hover {
  background-color: #f3f1f4;
  border-left-color: #ad1b3c;
}
nav .nav li a:hover * {
  color: black;
}
nav .nav li a .icon {
  width: 48px;
  height: 48px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .nav li > .subnav {
  display: none;
}
nav .nav li > .subnav * {
  font-size: 14px;
}
nav .nav li > .subnav ul li a {
  margin-left: 30px;
  width: unset;
  padding-left: 12px;
  border-left-width: 8px;
}

body {
  background-color: #ebeef5;
}
body .page_content {
  margin-top: 84px;
  margin-left: 320px;
  padding: 28px 22px;
}
body .page_content .header {
  margin-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .page_content .header .left .title {
  font-size: 34px;
  font-weight: bold;
}
body .page_content .header .right button {
  width: 120px;
  padding: 6px 0px;
}
.card, .dataTables_wrapper {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.dataTables_length,
.dataTables_filter {
  margin-bottom: 18px !important;
}

.dataTables_wrapper {
  padding: 16px;
}

.list_table tr > td:last-child button {
  width: 80px;
  padding: 6px 0px;
  font-size: 16px;
}
.list_table tr > td:last-child button:first-child {
  margin-right: 12px;
}

button {
  font-weight: 500;
  background-color: white;
  border: 1px solid #494949;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.button_red {
  border-color: #ad1b3c;
  color: #ad1b3c;
}

.button_red:hover {
  background-color: #ad1b3c;
  color: white;
}

.button_black:hover {
  background-color: #494949;
  color: white;
}

select {
  cursor: pointer;
  outline: none;
  border: 1px solid #494949;
  border-radius: 4px;
  font-size: 16px;
}

input {
  outline: none;
  border: 1px solid #494949;
  border-radius: 4px;
  font-size: 16px;
}

.dialog {
  display: none;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.416);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dialog .model {
  width: 40%;
}
.dialog .model input, .dialog .model select {
  padding: 6px 16px;
}
.dialog .model .head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 16px 28px;
}
.dialog .model .head .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dialog .model .head .container .left {
  font-size: 22px;
  font-weight: 500;
}
.dialog .model .head .container .right i {
  cursor: pointer;
  height: 28px;
  width: 28px;
  border-radius: 4px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}
.dialog .model .head .container .right i:hover {
  color: #ad1b3c;
  background-color: #f3f1f4;
}
.dialog .model .body {
  padding: 28px;
}
.dialog .model .body .container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dialog .model .body .container .message {
  padding-bottom: 28px;
}
.dialog .model .body .container .buttons > * {
  margin-right: 28px;
}
.dialog .model .body .container .buttons > *:last-child {
  margin-right: 0px;
}
.dialog .model .body .form_group {
  width: 100%;
  padding-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.dialog .model .body .form_group select, .dialog .model .body .form_group input {
  width: 100%;
}
.dialog .model .body .form_group:last-child {
  padding-bottom: 0px;
}
.dialog .model button {
  width: 120px;
  padding: 6px 0px;
}